body {
    background-color: rgb(49, 47, 47);
    color: #ccc
}

h1 {
    color: white;
    text-align: center;
    text-shadow: 12px -8px 5px rgb(214, 172, 231);
}

p{
text-align:justify;
text-transform:lowercase;
}