body {
    background-color: #201603;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    margin: 0;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    gap: 40px;
    flex-wrap: wrap;
}

.card{
    background-color: #fff;
    width: 320px;
    border-radius: 16px;
    overflow: hidden;
}

.card > img{
    height: 200px;
    width: 100%;
    
}
.card-text{
    margin: 20px;
}

h2{
color: #1f304e;
}

p{
    color:#798691;
    font-size: 16px;
}